@using AspBookLibrary.Models
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <p class="lead text-center">Search for tons of books posted everyday for you on students book shelf</p>
    <form class="row justify-content-center">
        <input class="form-control form-control-lg col-md-8 input-no-border" style="border: none;" type="text" placeholder="Start typing . . .">
    </form>
</div>

<div class="row">
    @foreach (BookModel book in @ViewBag.Books)
    {
        <div class="col-md-4" style="margin-bottom: 25px;">      
            <div class="book-card-layout card card-inverse card-no-border">
                <img class="card-img" src="~/Content/images/thumbnails/@book.PictureFileUrl" alt="@book.Title">
                <div class="card-img-overlay">
                    <h2 class="card-title book-title-font">@book.Title</h2>
                    <p class="card-text">@book.Description.</p>
                    <p class="align-bottom"><a class="btn btn-outline-secondary" href="~/Content/books/@book.BookFileUrl">Start Reading</a></p>
                </div>
            </div>
        </div>
    }
</div>