<div class="column">
    <div class="ui grid">
        <div class="six wide column">
            <img src="https://marketplace.canva.com/MAB___U-clw/1/0/thumbnail_large/canva-yellow-lemon-children-book-cover-MAB___U-clw.jpg" width="100%" height="auto" />
        </div>
        <div class="ten wide column">
            <h4 style="margin-bottom: 0px;">@ViewData["Title"]</h4>
            <div class="ui mini label" >@ViewData["Author"]</div>
            <div class="ui mini label">@ViewData["Genre"]</div>
            <a class="ui mini basic black button" style="margin-top: 10px" href="">READ BOOK</a>
        </div>
    </div>
</div>