<nav class="navbar fixed-bottom navbar-light bg-faded">
    <span class="navbar-text align-self-center">
        StudentsShelf&copy; @DateTime.Now.Year - A free, open library for everyone
    </span>
</nav>