<div class="ui two column centered grid">
    <div class="column">
        <div class="ui segment">
            <center>Covert Unicorns Group &copy; @DateTime.Now.Year - LNU Shelf</center>
        </div>
    </div>
</div>
