<div class="navbar navbar-toggleable-md fixed-top navbar-light drop-shadow-down">
    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
        <img src="http://img.talkandroid.com/uploads/2015/09/google-play-books-logo.png" height="35" alt="" />
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <span class="navbar-text" style="padding-top: 13px">
                Free, open library for everyone
            </span>
        </ul>

        @Html.Partial("_LoginPartial")
    </div>
</div>